html
body {
    background-color: rgb(48, 48, 48);
}

{
    background-color: #ffffff00;
}

header a
{
    margin: 10px;

    color: #383838;
}

header li
{
    background-color: #b3b3b3;

    padding: 8px 9px 5px 9px;

    transition: border-radius .3s, background-color .3s;

    border: 1px solid #424346;
    border-radius: 7px 7px 7px 0;
}

header li:hover
{
    border-radius: 12px;
    background-color: #303030;
}

header li:active
{
    border-radius: 0;
}

body
{
    font-family: 'Roboto';

    display: flex;
    flex-direction: column;

    color: #c2c2c2;
}

p, h1, h2, h3, ul
{
    color: rgb(255, 255, 255);
    text-align: center;
}

a {
    color: rgb(255, 255, 255);
    }

ul{
    list-style:none;
    }
